@{
    Layout = "";
}
@model Nop.Plugin.Tracking.AfterShip.Models.ConfigurationModel
@using Nop.Web.Framework;
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ApiKey):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.ApiKey)
                @Html.ValidationMessageFor(model => model.ApiKey)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AfterShipUsername):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AfterShipUsername)
                @Html.ValidationMessageFor(model => model.AfterShipUsername)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AllowCustomerNotification):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AllowCustomerNotification)
                @Html.ValidationMessageFor(model => model.AllowCustomerNotification)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            </td>
        </tr>
    </table>
}